.item-detail {
  padding: 0 8px;

  hr {
    margin-top: 0;
  }

  .type {
    font-size: small;
    margin-bottom: 0;
  }

  .description {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: small;
    color: var(--text-color-2);
  }

  .stats {
    margin-bottom: 16px;
    .stat-name {
      font-weight: bold;
    }
  }
}