@keyframes flicker {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hp-bar-container {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.hp-bar {
  background-color: var(--bg-color-3);
  height: 8px;
  display: flex;
  flex-direction: row;

  &>* {
    height: 8px;
  }

  &__remaining {
    background-color: var(--text-color-2);
  }

  &__damage {
    background-color: var(--text-color-2);
    animation-name: flicker;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}