.combat-menu {
  .combat-preview {
    display: grid;
    grid-template-columns: 40% auto 40%;
  }

  .attack-input {
    width: 100%;
    height: 25%;
    min-height: 64px;

    pointer-events: all;

    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 50% auto;
    grid-template-areas:
      "a c d"
      "b c d";

    button {
      background-color: var(--bg-color-2);
      margin: 2px 4px;
      border-radius: 4px;
      font-weight: bold;
      font-size: 0.75rem;
      
      & i, & .icon {
        margin-right: 0.5rem;
      }

      &.cycle-target {
        grid-area: a;
      }

      &.cycle-weapon {
        grid-area: b
      }

      &.confirm {
        grid-area: c;
        background-color: var(--bg-color-3);
        font-size: 1rem;
      }

      &.back {
        grid-area: d;
      }
    }
  }
}