@import "../UnitSummary/UnitSummary.scss";

.control-panel {
  position: relative;
  left: 0;
  bottom: -100%;

  width: 100%;
  height: 100%;
  border-radius: 0;

  background-color: var(--bg-color);

  &.control-panel-enter {
    bottom: -100%;
  }

  &.control-panel-enter-active {
    bottom: 0;
    transition: bottom 200ms ease-in-out;
  }

  &.control-panel-enter-done {
    bottom: 0;
  }

  &.control-panel-exit {
    bottom: 0;
  }

  &.control-panel-exit-active {
    bottom: -100%;
    transition: bottom 200ms;
  }
}