.unit-detail__class {
  .label {
    font-weight: bold;
  }

  .unit-class {
    margin: 0;
  }

  .movement {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    .movetype-icon {
      max-width: 20px;
      max-height: 20px;
      fill: white;
      filter: var(--icon-filter);
    }
  }
}