
.unit-detail__stats {
  button {
    padding: 4px 8px;
    margin: 4px;
    color: var(--accent-color);
    background: none;

    &.selected {
      background: var(--bg-color-2);
    }
  }
  
  .stat-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .stat-name {
      width: 44px;
      text-align: right;
      font-weight: bold;
      color: var(--text-color-2);
    }

    .stat-value {
      width: 44px;
      text-align: center;

      &.growth {
        font-size: small;
      }
    }
  
    .stat-meter {
      height: 0.2rem;
      min-width: 64px;
      border-radius: 0.25rem;
      background: rgba(from var(--accent-color) r g b / 0.25);

      .stat-meter__value {
        display: block;
        height: 100%;
        border-radius: inherit;
        transition: width 150ms ease-in-out;
        
        &.stat {
          background: var(--accent-color);
        }

        &.growth {
          background: var(--accent-color-2);
        }
      }
    }
  }
}