$unit-detail-height: 85%;

.unit-detail {
  position: absolute;
  left: 0;
  bottom: -$unit-detail-height;
  z-index: 9;

  background-color: rgb(24, 20, 27);
  width: 100%;
  height: $unit-detail-height;
  border-radius: 16px;

  display: grid;
  grid-template-rows: 96px auto;
  grid-template-columns: 50% auto;
  grid-template-areas:
    "a a"
    "b c";
  row-gap: 8px;

  .title {
    margin-left: 8px;
    grid-area: a;
  }

  &.unit-detail-enter {
    bottom: -$unit-detail-height;
  }

  &.unit-detail-enter-active {
    bottom: 0;
    transition: bottom 200ms;
  }

  &.unit-detail-enter-done {
    bottom: 0;
  }

  &.unit-detail-exit {
    bottom: 0;
  }

  &.unit-detail-exit-active {
    bottom: -$unit-detail-height;
    transition: bottom 200ms;
  }
}