.combat-forecast {
  & > span {
    margin-left: 4px;
    margin-right: 4px;
  }

  .name {
    font-weight: bold;
  }

  .equipped {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .label {
    font-weight: bold;
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }

  .value {
    font-weight: normal;
  }

  .item-icon {
    margin-right: 4px;
  }

  .stats {
    min-width: 108px;
  }
}