@keyframes flicker {
  from { opacity: 1; }
  50% { opacity: 0; }
  to { opacity: 1; }
}

.attack-menu {
  position: absolute;
  padding: 0;
  width: 100%;
  
  padding-top: 32px;
  padding-bottom: 8px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), var(--bg-color));
  color: var(--text-color);
  
  bottom: -110%;
  transition: bottom 100ms linear;

  &.enter, &.enter-active, &.exit-done {
    bottom: -110%;
  }

  &.enter-done, &.exit-active {
    bottom: 0;
  }

  .attack-preview {
    display: grid;
    grid-template-columns: 40% auto 40%;

    & > span {
      margin-left: 4px;
      margin-right: 4px;
    }

    .equipped {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .label {
      font-weight: bold;
      font-size: 0.9rem;
      margin-right: 0.5rem;
    }
  }

  .attack-input {
    width: 100%;
    height: 25%;
    min-height: 64px;
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 50% auto;
    grid-template-areas:
      "a c d"
      "b c d";

    button {
      background-color: var(--bg-color-2);
      margin: 2px 4px;
      border-radius: 4px;
      font-weight: bold;
      font-size: 0.75rem;
      
      & i, & .icon {
        margin-right: 0.5rem;
      }

      &.cycle-target {
        grid-area: a;
      }

      &.cycle-weapon {
        grid-area: b
      }

      &.confirm {
        grid-area: c;
        background-color: var(--bg-color-3);
        font-size: 1rem;
      }

      &.back {
        grid-area: d;
      }
    }
  }
}