html {
  overscroll-behavior: none;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  position: relative;
  background-color: #282c34;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.content {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: scroll;
}

.app * {
  transition-property: color, background-color;
  transition-duration: 200ms;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

button,
input[type="submit"],
input[type="reset"] {
  background-color: var(--bg-color-2);
  color: inherit;
  transition: background-color 200ms linear;
  border: none;
  padding: 8px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.icon {
  fill: white;
  filter: var(--icon-filter);
  max-width: 1.2rem;
  max-height: 1.2rem;
}