@use "sass:color";
@import "./UnitPanel.scss";

.unit-panel__header {
  position: relative;
  z-index: 6;
  
  // allow pointer events to pass through the transparent portion
  pointer-events: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span {
    @extend .unit-data-panel;
    pointer-events: all;

    max-width: fit-content;
    height: $header-height;
    display: flex;
    flex-direction: row;
  }

  .unit-selector {
    background-color: var(--bg-color-2);
    cursor: pointer;

    .sprite {
      opacity: 1;
      max-width: 64px;
      max-height: 100%;
      margin: 0 8px;
    }

    .name {
      opacity: 1;
      margin: auto;
      margin-right: 16px;
      font-size: medium;
    }
    
    &:hover {
      background-color: rgb(from var(--bg-color-2) r g b / 0.5);
    }
  }

  .weapon-selector {
    .equipped {
      margin: auto 16px;
      font-size: medium;
      font-weight: 100;
    }
  }
}