$header-height: 32px;
$gap: 6px;
$body-height: 84px;
$unit-panel-height: $header-height + $gap + $body-height + 2px;

@mixin colors {
  background-color: var(--bg-color-2);
  outline: 1px rgba(from var(--accent-color) r g b / 0.25) solid;
  border-bottom: 1px rgba(from var(--accent-color) r g b / 0.5) solid;
}