$header-height: 32px;
$unit-panel-gap: 8px;
$body-height: 84px;
$unit-panel-height: $header-height + $unit-panel-gap + $body-height;

.unit-data-panel {
  background-color: var(--bg-color-2);
  outline: 1px rgba(from var(--accent-color) r g b / 0.25) solid;
  border-top: 1px rgba(from var(--accent-color) r g b / 0.5) solid;
}

.unit-panel {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: $unit-panel-height;
  overflow: scroll;
  z-index: 10;

  display: grid;
  grid-template-rows: $header-height;
  row-gap: $unit-panel-gap;

  // allow pointer events to pass through the transparent portion
  pointer-events: none;
}